.navbar .nav .inactive a:hover{padding-left: 35px; text-decoration: underline;}
.navbar .nav .active a{padding-left: 35px; color: #17a2b8; font-weight: 900; text-decoration: underline;}
.navbar .nav .active a:hover{padding-right: 35px; color: #17a2b8!important; font-weight: 900;}