.navbar .nav .active a{padding-left: 35px; color: #17a2b8; text-decoration: underline; }
.navbar .nav .active a:hover{padding-left: 15px; text-decoration: none; border-left: solid thin #6c757d; color: #6c757d;}
.navbar .nav .inactive a:hover{padding-left: 35px; color: #17a2b8; border-left: solid thin #0062cc; color: #0062cc;}