.navbar .nav .active a{padding-left: 35px; color: #17a2b8; text-decoration: underline;}
.navbar .nav .active a:hover{padding-left: 15px; text-decoration: none;}
.navbar .nav .inactive a:hover{padding-left: 35px; color: #17a2b8; text-decoration: underline;}